.contactform{
    padding: 0 7px;
}

form {
    max-width: 700px;
    margin: 0 auto;
}

.alert {
    max-width: 700px;
    margin: 0 auto;
}

.form_contents {
    color: #464646;
    margin: 20px 0 0 0;
    text-align: left;
}

.confirm_form {
    max-width: 700px;
    margin: 80px auto 0 auto;
    padding: 0 5%;
    text-align: center;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

// .form-control {
//     border: 1px solid #dee2e6;
//     border-radius: 5px;
//     width: 100%;
//     padding: 10px;
// }

.confirm_form_contents {
    color: #636363;
    margin: 20px 0 7px 0;
    text-align: center;
}

.C_Btn {
    text-align: right;
    
}



.form_conclusion {
    text-align: center;
    margin: 200px 0 30px 0;
}

#Contact {
    margin-top: 100px;
}

#ContactMain {
    margin-top: 100px;
}

.confirm {
    margin-top: 200px;
}

.Btn- {
    text-align: center;
}

.btn {
    color: #fff;
    font-weight: bold;
    // 文字の間隔
    font-size: 16px;
}